@model StockWebScraperApp.Models.CurrentStockInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CurrentStockInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stock_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageVolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageVolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LowPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearWeekHigh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearWeekHigh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearWeekLow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearWeekLow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
